@import "./config/variables";

header {
	height: 6rem;
	padding-top: 2.5rem;
	position: fixed;
	top: 0.2rem;
	left: 0;
	z-index: 9000;
	width: 100%;

	.header {
		width: 89%;
		margin: auto;

		.dropdown {
			float: left;
			width: 5rem;
			margin-top: 0.2rem;

			.logo {
				position: relative;
				top: -0.6rem;
				&__img {
					width: 5rem;
					height: 4.5rem;
					display: block;
					margin: 0 0 0.2rem 0.25rem;
				}

				&:hover {
					.logo__img,
					.logo__text {
						opacity: 0.75;
					}
				}

				&__text {
					cursor: pointer;
					font-weight: 600;
					font-size: 1.5rem;
					letter-spacing: -0.03rem;
				}
			}

			&:hover {
				.dropdown-menu {
					display: block;
					transition: transform 200ms ease-in;
				}
			}

			&-menu {
				position: relative;
				display: none;
				top: 1.5rem;
				left: 0.2rem;
				width: 20.5rem;
				padding: 0.8rem 0;
				border-radius: 0.4rem;
				background-color: #fff;
				border: 1px solid $text;

				&:hover {
					transform: translateY(2px);
					display: block;
				}

				&::before {
					content: "";
					position: absolute;
					top: -1.9rem;
					left: 1.3rem;
					width: 0;
					height: 0;
					border-top: 9px solid transparent;
					border-left: 8px solid transparent;
					border-bottom: 9px solid $text;
					border-right: 8px solid transparent;
				}

				& h3,
				& a {
					font-size: 1.4rem;
					line-height: 1.5;
					color: #24292e;
					text-decoration: none;
				}

				& h3 {
					padding: 0.8rem 1.6rem 1.6rem;
					border-bottom: 1px solid #e1e4e8;
					font-weight: 500;

					.id {
						font-weight: 700;
					}
				}

				& ul {
					padding: 0.8rem 0;

					&:last-child {
						border-top: 1px solid rgba(27, 31, 35, 0.15);
					}

					& a {
						display: block;
						padding: 0.8rem 1.6rem;
						font-size: 1.4rem;
						line-height: 1.5;
						color: $title;
						text-decoration: none;

						&:hover {
							color: white;
							background: $text-hover;
						}
					}
				}
			}
		}

		.header__button-wrapper {
			float: right;
			margin-top: 1rem;

			span {
				position: relative;
				width: 5rem;
				padding: 0.5rem 1.3rem 0.5rem 1.2rem;
				margin: 0 1rem 0 0;
				font-size: 1.4rem;
				border: 4px double $header-button;
				text-align: center;
				font-weight: 600;
				background-color: white;
				color: $text;
			}

			button {
				position: relative;
				top: -0.1rem;
				width: 5.5rem;
				height: 3.6rem;
				font-size: 1.4rem;
				background-color: $header-button;
				color: white;
				border-right: 0.5px solid white;

				&:hover {
					background-color: $header-button-hover;
				}
			}
		}
	}
}
