section {
	.prev__btn {
		position: fixed;
		top: 350px;
		left: 15px;
		font-size: 30px;
		z-index: 1000;
	}

	.next__btn {
		position: fixed;
		top: 350px;
		right: 15px;
		font-size: 30px;
		z-index: 1000;
	}
	.day {
		width: 1400px;
		position: relative;
		overflow: hidden;

		.day__list {
			.day__item {
				float: left;
				height: 609px;
				border: 1px solid $border;
				background: white;
				justify-content: center;
				align-items: center;
				overflow: auto;

				.title {
					padding: 18px 0;
					text-align: center;
					background: $fill;
					height: 102px;

					&__date {
						font-size: 25px;
						font-weight: 600;
						text-transform: uppercase;
						letter-spacing: 2px;
						width: 100%;
						color: $title;
					}

					&__description {
						display: table;

						.description {
							width: 438px;
							padding: 7px;
							font-size: 13px;
							line-height: 18px;
							height: 58.5px;
							display: table-cell;
							vertical-align: middle;
							text-align: center;
						}
					}
				}

				.todolist-box {
					.todolist {
						position: absolute;
						width: 439px;
						height: calc(
							100% - 102px - 55px
						); // 전체 높이 - 상단 title 높이 - 하단 입력창 높이
						overflow: auto;

						li {
							height: 36px;
							padding: 8px;

							.check__button {
								float: left;
								margin-top: 2px;
							}

							span {
								display: inline-block;
								width: 300px;
								margin: 3px 0 0 5px;
								font-size: 14px;
							}

							img {
								width: 15px;
								height: 15px;
							}

							&:hover {
								background-color: $hover;
								.button-wrapper {
									visibility: visible;
								}
							}

							.button-wrapper {
								float: right;
								margin: 1px 0 0 5px;
								visibility: hidden;

								a {
									margin-left: 8px;
								}
							}
						}
					}
				}

				.display-button {
					position: relative;
					width: 25px;
					top: 75%;
					left: 50%;
					cursor: pointer;
				}

				.add-form {
					width: 439px;
					position: absolute;
					bottom: 0;
					padding-bottom: 20px;
					height: 55px;
					background: $fill;

					.description__button {
						position: relative;
						top: 7px;
						margin-left: 14px;
						margin-right: 5px;
						font-size: 19px;

						img {
							width: 21px;
						}
					}

					&__input {
						width: 326px;
						height: 26px;
						border-bottom: 1px solid gray;
						margin-top: 15px;
						padding: 0 8px;
						background: transparent;

						&:focus {
							background: $input-focus;
						}
					}

					&__button {
						margin-left: 8px;
						width: 50px;
						height: 30px;
						border: none;
						background: $add-button;
						color: $text;

						&:hover {
							background-color: white;
						}
					}
				}
			}
		}
	}
}

::-webkit-scrollbar {
	color: white;
	width: 15px;

	&-button {
		height: 0;
	}

	&-thumb {
		background: $hover;
	}

	&-track {
		background-color: transparent;
	}
}
