section {
	// 슬라이드 버튼
	.prev__btn {
		position: fixed;
		top: 35rem;
		left: 1.5rem;
		font-size: 3rem;
		z-index: 1000;
	}

	.next__btn {
		position: fixed;
		top: 35rem;
		right: 1.5rem;
		font-size: 3rem;
		z-index: 1000;
	}

	.day {
		width: 140rem;
		position: relative;
		overflow: hidden;

		.day__list {
			.day__item {
				float: left;
				width: 44rem;
				height: 58.9rem;
				border: 1px solid $border;
				background: white;
				justify-content: center;
				align-items: center;
				overflow: auto;

				.title {
					padding: 1.8rem 0;
					text-align: center;
					background: $fill;
					height: 10.2rem;

					&__date {
						font-size: 2.5rem;
						font-weight: 600;
						text-transform: uppercase;
						letter-spacing: 0.2rem;
						margin: 0.3rem 0;
						width: 100%;
						color: $title;
					}

					&__description {
						display: table;

						.description {
							width: 43.8rem;
							padding: 0.7rem;
							font-size: 1.3rem;
							line-height: 1.8rem;
							height: 5.85rem;
							display: table-cell;
							vertical-align: middle;
							text-align: center;
						}
					}
				}

				// 할 일 리스트 출력 창
				.todolist-box {
					.todolist {
						position: absolute;
						width: 43.8rem;
						height: calc(
							100% - 10.2rem - 5rem
						); // 전체 높이 - 상단 title 높이 - 하단 title 입력창 높이
						overflow: auto;

						&.content {
							height: calc(
								100% - 10.2rem - 5rem - 10.1rem
							); // 전체 높이 - 상단 title 높이 - 하단 title 입력창 높이 - 하단 content 입력창 높이
							transition: all ease .3s 0s;
						}

						&.sentence {
							height: calc(
								100% - 10.2rem - 11.2rem
							); // 전체 높이 - 상단 title 높이 - 하단 content 입력창 높이
						}

						.plan {
							position: relative;
							padding: 0.8rem;

							&:hover {
								background-color: $hover-soft;

								.buttons-default {
									display: inline-block;
								}
							}

							// 버튼용 이미지
							.plan-check__button,
							img {
								width: 1.5rem;
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;
								opacity: 0.83;

								&:hover {
									opacity: 1;
								}
							}

							// 완료 버튼
							&-check__button {
								float: left;
							}

							// default로 보이는 할 일
							&-title__span {
								display: inline-block;
								width: 36rem;
								margin-left: 2.3rem;
								font-size: 1.4rem;

								&.completed {
									color: $soft-gray;
									text-decoration: line-through;
								}

								&.important {
									font-weight: 600;
								}
							}

							.hidden {
								display: none;
							}

							// 수정 버튼 클릭 시 보이는 text 박스
							.plan-title__input {
								width: 35.5rem;
								border: 1px solid $fill;
								padding: 0.4rem;
								margin-left: 2.3rem;
								display: none;

								&.active {
									display: inline-block;
								}
							}

							// text 오른쪽 버튼들
							// 기본적으로 보이는 수정, 삭제 버튼
							.buttons {
								margin: auto;
								display: inline-block;
								right: 0;
								top: 0;
								bottom: 0;
								position: absolute;

								.more__button {
									display: inline-block;
									margin-right: 2.1rem;
								}

								// 수정 버튼 클릭 전 기본 버튼
								&-default {
									display: none;
									margin-right: 2.1rem;

									.edit__button,
									.add-feedback__button {
										margin-right: 2.1rem;
									}
								}

								.hidden {
									display: none;
								}

								// 수정 버튼 클릭 시 나타나는 확인 버튼
								&-edit {
									display: inline-block;

									.edit-check__button {
										border: 1px solid $text;
										padding: 0.3rem 0.6rem 0.4rem 0.6rem;
										font-size: 1.3rem;
										color: $text;
										background-color: white;
									}
								}
							}
						}

						.detail {
							background-color: $white-gray;

							&__span {
								display: inline-block;
								width: 36rem;
								margin-left: 3.2rem;
								font-size: 1.3rem;
								padding: 0.7rem 0;
								color: gray;
								word-break: break-word;

								&.hidden {
									display: none;
								}
							}
						}

						.feedback {
							background-color: $hover-soft;
							min-height: 3.2rem;

							&-title {
								font-weight: 600;
								display: inline-block;
								width: 28.5rem;
								margin-left: 0.8rem;
								font-size: 1.3rem;
								padding-top: 0.7rem;
								color: gray;
							}

							&-content {
								display: inline-block;
								width: 36rem;
								margin-left: 3.2rem;
								font-size: 1.3rem;
								padding: 0.4rem 0 0.7rem 0;
								color: gray;
								word-break: break-word;
							}

							&-rating {
								width: 7.5rem;
								margin-left: 3.2rem;
								padding-top: 0.8rem;
								float: left;

								img {
									width: 1.5rem;
								}
							}
						}
					}
				}

				// 할 일 입력 관련
				.display-button {
					position: relative;
					width: 2.5rem;
					top: 75%;
					left: 50%;
					cursor: pointer;
				}

				.add-form {
					.title {
						width: 43.8rem;
						position: absolute;
						bottom: 0;
						padding-bottom: 2rem;
						height: 5rem;
						background: $fill;
						transition: all ease .3s 0s;

						&.active {
							bottom: 10rem;
							transition: all ease .3s 0s;
						}

						.option__button {
							width: 2.6rem;
							position: relative;
							top: -0.6rem;
							left: -19.4rem;
							opacity: 0.93;

							img {
								width: 2.4rem;
								height: 2.6rem;
								padding-bottom: 0.1rem;
								background: $add-button;
								border: 1px solid $border;
							}

							.up__image,
							.down__image {
								display: inline;
							}

							.hidden {
								display: none;
							}

							&:hover {
								opacity: 1;
							}
						}

						&__input {
							width: 32.6rem;
							height: 2.6rem;
							position: absolute;
							top: 1.2rem;
							left: 4.3rem;
							border: none;
							padding: 0 0.8rem;
							background: $input-focus-soft;

							&:focus {
								background: $input-focus;
							}
						}
					}

					.detail {
						position: absolute;
						width: 43.8rem;
						height: 11rem;
						bottom: -11rem;
						background: $fill;
						overflow: hidden;
						transition: all ease .3s 0s;

						&.active {
							bottom: 0;
							display: inline-block;
							transition: all ease .3s 0s;
						}

						&.sentence {
							height: 11rem;
							bottom: 0;
						}

						&__textarea {
							width: 32.6rem;
							height: 6rem;
							position: absolute;
							top: 1.1rem;
							left: 4.3rem;
							padding: 0.4rem 0.8rem;
							background: $input-focus-soft;
							border: none;
							resize: none;

							&:focus {
								outline: none;
								background: $input-focus;
							}

							&.sentence {
								top: 1.1rem;
							}
						}

						&__button {
							display: inline-block;
						}

						.detail-buttons {
							width: 32.6rem;
							position: absolute;
							bottom: 1rem;
							left: 4.1rem;

							label {
								font-size: 1.3rem;
								margin-right: 0.3rem;
								display: inline-block;
								cursor: pointer;

								&.hidden {
									display: none;
								}

								&:hover {
									img {
										opacity: 1;
									}
								}
							}

							.sentence__button {
								font-size: 1.3rem;
								display: inline-block;
								position: absolute;
								bottom: 0;
								right: 0;
								cursor: pointer;

								&:hover {
									img {
										opacity: 1;
									}
								}
							}

							img {
								position: relative;
								top: 0.55rem;
								width: 2rem;
								margin-right: 0.3rem;
								opacity: 0.83;
								display: inline-block;

								&:hover {
									opacity: 1;
								}
							}

							.hidden {
								display: none;
							}
						}
					}
					
					button {
						width: 5rem;
						height: 2.7rem;
						position: absolute;
						right: 1.2rem;
						top: 1.1rem;
						padding-top: 0.2rem;
						border: 1px solid $border;
						background: $add-button;
						color: $text;
						opacity: 0.93;

						&:hover {
							opacity: 1;
						}
					}
						
					.feedback-delete__button {
						top: 1rem;
						color: $text-deep;
						border: 1px solid $border-deep;
						background-color: $delete-button;
						// background-color: $border;
						// background-color: transparent;
						opacity: 0.93;

						&:hover {
							opacity:1;
						}
					}
					
					.hidden {
						display: none;
					}
				}
			}
		}
	}
}

::-webkit-scrollbar {
	color: white;
	width: 1rem;

	&-button {
		height: 0;
	}

	&-thumb {
		background: $hover;
	}

	&-track {
		background-color: transparent;
	}
}
