section {
	// 슬라이드 버튼
	.prev__btn {
		position: fixed;
		top: 350px;
		left: 15px;
		font-size: 30px;
		z-index: 1000;
	}

	.next__btn {
		position: fixed;
		top: 350px;
		right: 15px;
		font-size: 30px;
		z-index: 1000;
	}

	.day {
		width: 1400px;
		position: relative;
		overflow: hidden;

		.day__list {
			.day__item {
				float: left;
				height: 609px;
				border: 1px solid $border;
				background: white;
				justify-content: center;
				align-items: center;
				overflow: auto;

				.title {
					padding: 18px 0;
					text-align: center;
					background: $fill;
					height: 102px;

					&__date {
						font-size: 25px;
						font-weight: 600;
						text-transform: uppercase;
						letter-spacing: 2px;
						width: 100%;
						color: $title;
					}

					&__description {
						display: table;

						.description {
							width: 438px;
							padding: 7px;
							font-size: 13px;
							line-height: 18px;
							height: 58.5px;
							display: table-cell;
							vertical-align: middle;
							text-align: center;
						}
					}
				}

				.todolist-box {
					.todolist {
						position: absolute;
						width: 439px;
						height: calc(
							100% - 102px - 55px
						); // 전체 높이 - 상단 title 높이 - 하단 입력창 높이
						overflow: auto;

						// 할 일(li)
						.plan {
							height: 36px;
							padding: 8px;

							&:hover {
								background-color: $hover;
								.buttons {
									display: inline-block;
								}
							}

							// 버튼용 이미지
							img {
								width: 15px;
								height: 15px;
							}

							// 완료 버튼
							&-check__button {
								float: left;
								margin-top: 2px;
							}

							// default로 보이는 할 일
							&-title__span {
								display: inline-block;
								width: 350px;
								margin: 3px 0 0 8px;
								font-size: 14px;

								&.active {
									display: none;
								}
							}

							// 수정 버튼 클릭 시 보이는 text 박스
							.plan-title__input {
								width: 355px;
								border: 1px solid $fill;
								padding: 4px;
								margin: -3px 0 0 7px;
								display: none;

								&.active {
									display: inline-block;
								}
							}

							// text 오른쪽 버튼들
							// 기본적으로 보이는 수정, 삭제 버튼
							.buttons {
								float: right;
								margin: 1px 0 0 5px;
								display: none;

								// 수정 버튼 클릭 전 기본 버튼
								&-default {
									.edit__button {
										margin-right: 8px;
									}

									&.active {
										display: none;
									}
								}

								// 수정 버튼 클릭 시 나타나는 확인 버튼
								&-edit {
									display: none;

									.edit-check__button {
										border: 1px solid $text;
										padding: 4px 6px 4px 6px;
										font-size: 14px;
										color: $text;
										background-color: white;
									}

									&.active {
										display: inline-block;
									}
								}
							}

							// 완료 버튼 클릭 시
							&.checked {
								span {
									color: $soft-gray;
									text-decoration: line-through;
								}

								.buttons {
									visibility: hidden;
								}
							}
						}
					}
				}

				.display-button {
					position: relative;
					width: 25px;
					top: 75%;
					left: 50%;
					cursor: pointer;
				}

				.add-form {
					width: 439px;
					position: absolute;
					bottom: 0;
					padding-bottom: 20px;
					height: 55px;
					background: $fill;

					.description__button {
						position: relative;
						top: 7px;
						margin-left: 14px;
						margin-right: 5px;
						font-size: 19px;

						img {
							width: 21px;
						}
					}

					&__input {
						width: 326px;
						height: 26px;
						border-bottom: 1px solid gray;
						margin-top: 15px;
						padding: 0 8px;
						background: transparent;

						&:focus {
							background: $input-focus;
						}
					}

					&__button {
						margin-left: 8px;
						width: 50px;
						height: 30px;
						border: none;
						background: $add-button;
						color: $text;

						&:hover {
							background-color: white;
						}
					}
				}
			}
		}
	}
}

::-webkit-scrollbar {
	color: white;
	width: 15px;

	&-button {
		height: 0;
	}

	&-thumb {
		background: $hover;
	}

	&-track {
		background-color: transparent;
	}
}
