extends layouts/main.pug

block content
    section
        .container
            .user.signin
                .image-box
                    .image-box__image
                        img(src="https://images.unsplash.com/photo-1569493086584-33e0b36f3145?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80", alt="")
                .form-box
                    form.form-box__form(method="post")
                        h2.form-box__title 로그인
                        input(type="text", name="id", placeholder="아이디")
                        input(type="password", name="password", placeholder="비밀번호")
                        input(type="submit", value="확인", formaction=routes.login)
                        p.sign__text 
                            | 계정이 없다면? 
                            a.sign-up__link(href="#", onclick="toggleForm();") 회원가입 
                            | 또는 
                            a.guest__link(href=routes.plans) 게스트로 구경
            .user.signup
                .form-box
                    form.form-box__form(method="post")
                        h2.form-box__title 회원가입
                        input(type="text", name="id", placeholder="아이디")
                        input(type="email", name="email", placeholder="메일 주소")
                        input(type="password", name="password", placeholder="비밀번호 입력")
                        input(type="password", name="password2", placeholder="비밀번호 재입력")
                        input(type="submit", value="확인", formaction=routes.join)
                        p.sign__text 
                            | 이미 계정이 있다면? 
                            a.sign-in__link(href="#", onclick="toggleForm();") 로그인
                .image-box
                    img(src="https://images.unsplash.com/photo-1569493086584-33e0b36f3145?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80", alt="")
