extends layouts/main.pug

block content
    .button-wrapper
        .calendar-button
            a.calendar-button__btn(href=routes.calendar) 달력
        .todolist-button
            a.todolist-button__btn(href=routes.plans) 투두리스트
